#svg-overlay-container {
  z-index: -1;
  display: flex;
  position: absolute;
  margin-top: 15rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 360px) {
  #svg-overlay-container {
    margin-top: 11rem;
  }
}