@import "../../../style/_colors.scss";

.taco-svg {

}

#taco-svg {
  margin: auto;
  path {
    // z-index: 1;
    fill-opacity: 0;
    fill: $taco-svg;
    stroke: #000;
    stroke-width: 5;
    stroke-dasharray: 80826.6171875;
    stroke-dashoffset: 80826.6171875;
    -moz-animation: draw 5s linear 1s 1 forwards;
    -webkit-animation: draw 5s linear 1s 1 forwards;
    animation: draw 3s linear 1s 1 forwards;
    // animation-delay: .5s;
  }
}

@-webkit-keyframes draw {
  0% {stroke-dashoffset: 80826.6171875;}
  50% { 
    fill-opacity:0;
  }
  100% {
    stroke-dashoffset:0;
    fill-opacity:1;
  }
}
@-moz-keyframes draw {
  0% {stroke-dashoffset: 80826.6171875;}
  50% { 
    fill-opacity:0;
  }
  100% {
    stroke-dashoffset:0;
    fill-opacity:1;
  }
}